{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div class="background-container">
  <div class="post-body">
    {{ post.body|linebreaks }}
  </div>
</div>

<hr>

<h3>Comments</h3>
{% if comment %}
  {% for comments in comment %}
    <div class="media-body" style="margin-bottom: 1.5rem;">
      <h5 class="mt-0">{{ comments.user }}</h5>
      <p>{{ comments.comment }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>No comments yet.</p>
{% endif %}

<hr>

<h3>Leave a Comment</h3>
<form method="POST" style="margin-top: 1rem;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Send</button>
</form>
{% endblock content %}
